name: Veracode Static Code Analysis From Notification service

on:
  repository_dispatch:
    types: [source-code-pipeline-scan]

jobs:
  bash-example:
    runs-on: ubuntu-latest
    steps:
      - name: Group of log lines
        run: |
            echo "::group::My title"
            echo "Inside group"
            echo "::endgroup::"
